{% extends "nav.html" %}
{% block title %}蜘蛛爬行统计{% endblock %}
{% block content %}
<div class="page-header">
    <h1> 首页&gt; 
        {% if request.args.getlist('show')[0] == 'today' %}
        今天
        {% else %}
        昨天
        {% endif %}

        {% if request.args.getlist('spider')[0] == 'all_spider' %}
        全部
        {% elif request.args.getlist('spider')[0] == 'baidu_spider' %}
        百度
        {% elif request.args.getlist('spider')[0] == 'sogou_spider' %}
        搜狗
        {% elif request.args.getlist('spider')[0] == '360_spider' %}
        360
        {% elif request.args.getlist('spider')[0] == 'bing_spider' %}
        必应
        {% elif request.args.getlist('spider')[0] == 'google_spider' %}
        谷歌
        {% elif request.args.getlist('spider')[0] == 'sm_spider' %}
        神马
        {% endif %}
        蜘蛛爬行统计</h1>
</div>
<div class="col-xs-12">
    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
        {% if request.args.getlist('spider')[0] == 'all_spider' %}<li id="all_list" class="active">{% else %}<li id="all_list">{% endif %}

        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='all_spider') }}">全部蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='all_spider') }}">全部蜘蛛</a>
        {% endif %}
        </li>

        {% if request.args.getlist('spider')[0] == 'baidu_spider' %}<li id="baiduspider" class="active">{% else %}<li id="baiduspider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='baidu_spider') }}">百度蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='baidu_spider') }}">百度蜘蛛</a>
        {% endif %}
        </li>

        {% if request.args.getlist('spider')[0] == 'sogou_spider' %}<li id="sogouspider" class="active">{% else %}<li id="sogouspider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='sogou_spider') }}">搜狗蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='sogou_spider') }}">搜狗蜘蛛</a>
        {% endif %}
        </li>

        {% if request.args.getlist('spider')[0] == '360_spider' %}<li id="sogouspider" class="active">{% else %}<li id="sogouspider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='360_spider') }}">360蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='360_spider') }}">360蜘蛛</a>
        {% endif %}
        </li>

        {% if request.args.getlist('spider')[0] == 'bing_spider' %}<li id="bingspider" class="active">{% else %}<li id="bingspider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='bing_spider') }}">必应蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='bing_spider') }}">必应蜘蛛</a>
        {% endif %}
        </li>
        
        {% if request.args.getlist('spider')[0] == 'google_spider' %}<li id="googlespider" class="active">{% else %}<li id="googlespider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='google_spider') }}">谷歌蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='google_spider') }}">谷歌蜘蛛</a>
        {% endif %}
        </li>

        {% if request.args.getlist('spider')[0] == 'sm_spider' %}<li id="smspider" class="active">{% else %}<li id="smspider">{% endif %}
        {% if request.args.getlist('show')[0] == 'today' %}
            <a href="{{ url_for('show_spider', show='today', spider='sm_spider') }}">神马蜘蛛</a>
        {% else %}
            <a href="{{ url_for('show_spider', show='yesterday', spider='sm_spider') }}">神马蜘蛛</a>
        {% endif %}
        </li>

    </ul>
    <div class="tabbable">
        <div class="tab-content">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>爬行ID</th>
                    <th>爬行URI</th>
                    <th>蜘蛛名</th>
                    <th>爬行 User-Agent</th>
                    <th>爬行时间</th>
                </tr>
                {% for d in data %}
                <tr>
                    <td>{{ d._id }}</td>
                    <td><a href="javascript:;" name="domain">{{ d.url }}</a></td>
                    <td><b class="red">{{ d.name }}</b></td>
                    <td><b class="blue">{{ d.user_agent }}</b></td>
                    <td><b class="red">{{ d.create_time }}</b></td>
                </tr>
                {% endfor %}
                
            </table>
            <nav style="text-align: center">
                <ul class="pagination">
                    <li><a class="start" href="{{ url_for('show_spider', page='1', spider=request.args.get('spider', '')) }}">首页</a></li>
                    {% for p in page %}
                        {% if current_page == p %}
                            <li class="active">
                                <a class="num" href="{{ url_for('show_spider', page=current_page, spider=request.args.get('spider', '')) }}">{{ p }}</a>
                            </li>
                        {% else %}
                            <li><a class="num" href="{{ url_for('show_spider', page=p, spider=request.args.get('spider', '')) }}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a class="end" href="{{ url_for('show_spider', page=max_page, spider=request.args.get('spider', '')) }}">尾页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block name%}spider{%endblock%}