{% extends "nav.html" %}
{% block title %}轮链管理{% endblock %}
{% block content %}
    <div class="page-header"><h1> 链接池管理 &gt; 目录反代管理</h1></div>
    <div class="col-xs-12">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue"
                id="myTab">
                <li class="active"><a href="#home" data-toggle="tab">链接池列表</a></li>
                <li><a href="javascript:;" onclick="add()">添加链接</a></li>
            </ul>
        </div>
        <div class="tabbable">
            <div class="tab-content">
                <table class="table table-bordered table-hover">
                    <tr>
                        <!-- <th>链接ID</th> -->
                        <th>链接域名</th>
                        <th>链接规则</th>
                        <th>链接等级</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    {% for i in data %}
                        <tr>
                            <td><a href="javascript:;" name="domain">{{ i._id }}</a></td>
                            <td>
                                <details>
                                    <summary>该域名有<b>{{ i.rules | length }}</b>个链接规则</summary>
                                    <ul>
                                        {% for link in i.rules %}
                                            <li> {{ link }}</li>
                                        {% endfor %}
                                    </ul>
                                </details>
                            </td>
                            <td>
                                {% if i.hit == '2' %}<code>高</code>{% endif %}
                                {% if i.hit == '1' %}<code>中</code>{% endif %}
                                {% if i.hit == '0' %}<code>低</code>{% endif %}
                            </td>
                            <td>{{ i.add_time }}</td>
                            <td>
                                <a class="btn-xs btn-primary" data-site-sid="{{ i._id }}" name="ViewSite"
                                   href="javascript:void(0);">View</a>&nbsp;
                                <a class="btn-xs btn-danger" name="DeleteSite" data-site-sid="{{ i._id }}"
                                   href="javascript:void(0);">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <nav style="text-align: center">
                    <ul class="pagination">
                        <li><a class="start" href="{{ url_for('show_domain_list', page='1') }}">首页</a></li>
                        {% for p in page %}
                            {% if current_page == p %}
                                <li class="active"><a class="num"
                                                      href="{{ url_for('show_domain_list', page=current_page) }}">{{ p }}</a>
                                </li>
                            {% else %}
                                <li><a class="num" href="{{ url_for('show_domain_list', page=p) }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li><a class="end" href="{{ url_for('show_domain_list', page=max_page) }}">尾页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 添加站点开始 -->
    <div class="modal fade" id="bjy-add" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true"> &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> 添加链接</h4>
                </div>
                <div class="modal-body">
                    <form id="bjy-form" class="form-inline" action="{{ url_for('add_pool_link') }}" method="post">
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tr>
                                <th width="15%">链接地址:</th>
                                <td>
                                    <input class="input-medium" type="text" name="slink_domain" style="width: 100%;"
                                           placeholder="需带http协议, 如: http://www.baidu.com">
                                </td>
                            </tr>
                            <tr>
                                <th width="15%">链接规则:</th>
                                <td>
                                <textarea name="slink_rules" id="spider_source"
                                          class="form-control resizable processed"
                                          rows="10" style="width: 100%;"
                                          title="编辑链接规则"
                                          placeholder="链接规则,一行代表一个规则..支持标签
<随机字符> 随机字符串
<随机数字> 随机纯数字 09221
例如:
/hot<随机字符>/
/hot<随机字符>.html">
/hot<随机字符>/
/hot<随机字符>.html
/app<随机字符>/
/app<随机字符>.html
</textarea>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%">优先级:</th>
                                <td>
                                    <select name="slink_level" title="功能未实现. 选择链接等级..."
                                            style="width: 100%;">
                                        <option value="0">低</option>
                                        <option value="1">中</option>
                                        <option value="2">高</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-success" type="submit" value="添加">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加站点结束 -->
    <!-- 编辑站点开始 -->
    <div class="modal fade" id="View-Sites" tabindex="-1" role="dialog" aria-labelledby="ViewSites" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                    <h4 class="modal-title" id="ViewSites">查看轮链</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th width="15%">提示:</th>
                            <td><span class="label label-warning" style="width: 100%;">编辑后及时生效.</span>
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">网站地址:</th>
                            <td>
                                <input class="input-medium" type="text" name="view_url" style="width: 100%;"
                                       placeholder="填写网站地址 如: http://www.baidu.com" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">优先级:</th>
                            <td>
                                <select name="edit_slink_level" title="未实现功能. 选择链接等级..."
                                        style="width: 100%;">
                                    <option value="0">低</option>
                                    <option value="1">中</option>
                                    <option value="2">高</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="15%">链接规则:</th>
                            <td>
                            <textarea name="edit_slink_rules" id="spider_source"
                                      class="form-control resizable processed"
                                      rows="10" style="width: 100%;"
                                      title="编辑链接规则"
                                      placeholder="链接规则,一行代表一个规则..支持标签
<随机字符> 随机字符串
<随机数字> 随机纯数字 09221
例如:
/hot<随机字符>/
/hot<随机字符>.html">
/hot<随机字符>/
/hot<随机字符>.html
/app<随机字符>/
/app<随机字符>.html
</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><input class="btn btn-success" id="edit_sites" type="button" value="保存"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 编辑站点结束 -->

{% endblock %}

{% block name %}pool_link{% endblock %}
{% block load_js %}
    {{ super() }}
    <script>
        // 编辑网站
        $("a[name='ViewSite']").click(function () {
            // 获取当前点击的列表ID
            site_sid = $(this).attr('data-site-sid');
            view_url = $("input[name='view_url']");
            view_slink_level = $("select[name='edit_slink_level']");
            view_slink_rules = $("textarea[name='edit_slink_rules']");

            $.post("{{ url_for('find_pool_link') }}", {sid: site_sid}, function (data, textStatus, xhr) {
                // 请求成功
                if (data.status === true) {
                    view_url.val(data.data._id);
                    view_slink_level.val(data.data.hit);
                    view_slink_rules.val(data.data.rules.join("\r\n"));
                    $("#View-Sites").modal('show');
                }
            });
        });

        // 编辑事件
        $("#edit_sites").click(function () {
            if (confirm("是否修改轮链配置?")) {
                console.log(view_slink_level.val());
                console.log(view_slink_rules.val());
                update_data = {
                    sid: site_sid,
                    slink_level: view_slink_level.val(),
                    slink_rules: view_slink_rules.val(),
                }

                for (var i in update_data) {
                    if (update_data[i] === "") {
                        alert("请填写完整信息后在修改!");
                        return false;
                    }
                }

                $.post("{{ url_for('edit_pool_link') }}", update_data, function (data, textStatus, xhr) {
                    if (data.status == true) {
                        alert(data.info);
                        window.location.reload();
                    }

                    if (data.status == false) {
                        alert(data.info);
                        return false;
                    }
                });
            }
        });

        // 添加菜单
        function add() {
            $("input[name='title']").val('');
            $('#bjy-add').modal('show');
        }

        // 删除网站监听事件
        $("a[name='DeleteSite']").click(function (event) {
            xsid = $(this).attr('data-site-sid');
            if (confirm("你是否真的要删除ID为【" + xsid + "】的网站轮链配置文件\n如果删除将不能恢复，你确定继续吗？")) {
                $.post("{{ url_for('del_pool_link') }}", {sid: xsid}, function (data, textStatus, xhr) {
                    if (data.status == true) {
                        alert(":( 删除成功，请等待控制端删除...!");
                        window.location.reload();
                    } else {
                        alert(":) 删除失败，可能是人品问题~");
                        window.location.reload();
                    }
                });
            }
        });

    </script>
{% endblock %}